header {
    background-color: #EE4B2B;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #FF8030;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFF;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

article {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

article h2 {
    color: #EE4B2B;
    font-size: 24px;
    margin: 0 0 10px 0;
}

article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #EE4B2B;
    text-decoration: none;
}
